p {
    color: red;
}
body {
    text-align: center;
    font-size: 20px;
    background-color: black;
    color: #fff;
}
#banner {
    background-color: white;
    padding: 10px;
    margin: 10px;
    max-width: 70%;
    max-height: 70%;
    align-self: auto;
   
    border-radius: 2%;
}

#titulo{
    color: white;
    font-style: italic;
    border-radius: 10%;
    border: 10% solid;
 
}
.p1{
    color: yellow;
}
.p2{
    color: limegreen;
}
#superior{
    background-color: red;
}
#conteudo{
    background-color: blue;
    color:#fff;
}
#listas{
    background-color: green;
}
.div-texto{
    min-width: 30%;
    display: flex;
    justify-content: flex-start;
}
#papofor{
    border-bottom:2px solid whitesmoke;
    padding: 20px;
    background-color: silver;
    font-size: 32px;
    color: black;

}
