p {
    color: red;
}
body {
    text-align: center;
    font-size: 20px;
    background-color: black;
    color: #fff;
}
#banner {
    background-color: white;
    padding: 10px;
    margin: 10px;
    max-width: 70%;
    max-height: 70%;
}

#titulo{
    color: white;
    font-style: italic;
}
.p1{
    color: blue;
}
.p2{
    color: limegreen;
}
#superior{
    background-color: red;
}
#conteudo{
    background-color: blue;
}
#lista{
    background-color: green;
}
.div-banner{
    max-width: 49%;
}
.div-texto{
    max-width: 49%;
    display: flex;
    justify-content: flex-start;
}
