p {
    color: red;
}
body {
    text-align: center;
    font-size: 20px;
}
h1 {
    color: blue;
}
.titulo{
    color: blue;
    font-style: italic;
}
.p1{
    color: blue;
}
.p2{
    color: limegreen;
}