p {
    color: red;
}
body {
    text-align: center;
    font-size: 20px;
    background-color: black;
}
/*
.titulo{
    color: #C0C0CC;
    font-style: italic;
}*/
.p1{
    color: blue;
}
.p2{
    color: limegreen;
}